{
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "extends": [
    "airbnb", 
    "airbnb/hooks",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-filename-extension": [1, { 
      "extensions": [".js", ".jsx"] 
    }],
    "max-len": [2, 200],
    "indent": [2, 4],
    "semi": [2, "always"],
    "comma-dangle": [2, {
      "objects": "never",
      "arrays": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
  }],
    "import/no-unresolved": 0
  }
}
