/* Font */
$mainFont               : 'Roboto', sans-serif;
$fontMontserrat         : 'Montserrat', Helvetica, Arial, sans-serif;
$fontQuicksand          : 'Quicksand', sans-serif;

/* Size */
$mainFontSize            : 18px;
$mainFontStyle           : normal;
$mainFontWeight          : normal;
$mainLineHeight          : 1.4;

/* Content size */
$widthLaptopLarge        : 1140px;
$widthLaptop             : 960px;
$widthTable              : 720px;
$widthMobile             : 540px;
$widthMobileSmall        : 100%;

/* Media queries */
$madiaWidthLaptopLarge   : 1200px;
$mediaWidthLaptop        : 992px;
$mediaWidthTablet        : 768px;
$mediaWidthMobile        : 576px;

/* Main color */
$defaultColor           : #101010;
$primaryColor           : #444ce0;
$successColor           : #26de81;
$dangerColor            : #fc5c65;
$warningColor           : #fed330;
$lightColor             : #999999;
$purpleColor            : #8854d0;
$greyColor              : #808080;
$whiteColor             : #ffffff;

/* Theme colors */
$darkShadeColor100      : #1F2041;
$darkShadeColor75       : rgba(31, 32, 65, 0.75);;
$darkShadeColor50       : rgba(31, 32, 65, 0.5);;
$darkShadeColor25       : rgba(31, 32, 65, 0.25);
$darkShadeColor5        : rgba(31, 32, 65, 0.05);
$purpleGradient         : linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$lightPurpleColor       : #BC9CFF;
$greenColor             : #6FCF97;

/* Neutral Color */
$neutralPrimary         : #303133;
$neutralSecondary       : #909399;
$neutralRegular         : #606266;
$neutralPlaceholder     : #C0C4CC;
