/* Font */
$mainFont               : 'Roboto', sans-serif;
$fontMontserrat         : 'Montserrat', Helvetica, Arial, sans-serif;

/* Size */
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontStyle           : normal;
$mainFontWeight          : normal;
$mainLineHeight          : 1.4;

/* Content size */
$widthLaptopLarge        : 1140px;
$widthLaptop             : 960px;
$widthTable              : 720px;
$widthMobile             : 540px;
$widthMobileSmall        : 100%;

/* Media queries */
$madiaWidthLaptopLarge   : 1200px;
$mediaWidthLaptop        : 992px;
$mediaWidthTablet        : 768px;
$mediaWidthMobile        : 576px;

/* Main color */
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;
$grey-color              : #808080;

/* Neutral Color */
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

/* Neutral Color */
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
